{% extends "products/index.html" %}

{% block content %}

<div class="main">
    <a class="new" href="../" style="text-decoration: none!important;">
        <span class="icon-undo2"></span>
        <span class="nuevo">Volver</span>
    </a>
</div>
<div class="arch">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{form}}
        <!-- <input type="file" name="arc"> -->
        <input type="submit" name="subir" value="Cargar">
    </form>
    
</div>

{% endblock %}