{% extends "products/index.html" %}

{% block content %}

<div class="main">
    <a class="new" href="new/" style="text-decoration: none!important;">
        <span class="icon-plus"></span>
        <span class="nuevo">Nuevo producto</span>
    </a>
</div>
<div class="tabla">
    <table class="prod_tabla">
      <tr>
        <th>Id</th>
        <th>Ean</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th></th>
      </tr>
      {% for producto in productos %}
        <tr>
          <td>{{producto.id}}</td>
          <td>{{producto.ean}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.precio}}</td>
          <td><a class="new" href="{% url 'mod' producto.id %}" style="text-decoration: none!important;"><span class="icon-pencil"></span></a></td>
        </tr>
      {% endfor %}
      </table>
</div>

{% endblock %}